header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav-items {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

Footer {
    position: absolute;
    bottom: 0px;
    background-color: rgb(17, 20, 52);
    min-width: 100vw;
    color: white;
    text-align: center;
    padding: 15px 0;
}